body {
    background-color: lightgray;
}

header {
    background-color: gray;
}

#burguer {
    color: rgba(255, 255, 255, 0.886);
    background-color: rgba(34, 34, 34, 0.867);
    display: block;
    text-align: center;
    padding: 5px;
}

#icon:hover {
    background-color: rgba(255, 255, 255, 0.871);
    color: black;
}

header h1 {
    padding: 5px;
    text-align: center;
}

menu {
    display: none;
}

menu a {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

ul {
    text-align: center;
    list-style-type:none;
}

li {
    text-align: center;
    padding: 3px;
    margin: 1.7px;
    border-radius: 10px;
    background-color: rgba(52, 52, 52, 0.679);
}

li:hover {
    background-color: black;
}

main {
    background-color: white;
    width: 85vw;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    text-align: justify;
}

main h1 {
    text-align: center;
    margin-bottom: 5px;
}

main p {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    #burguer{
        display: none;
    }

    menu {
        display: block;
    }

    li {
        display: inline-block;
        width: 15%;
        margin: 5px;
    }

    main{
        width: 740px;
    } 
}